/************************************
    UTILITY
************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-txt-color: #FFFFFF;
    --sec-txt-color: #A3A3A3;
    --main-back-color: #141922;
    --sec-back-color: #000000;
    --player-color: #282828;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify-sp {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.my-top10 {
    margin-top: 10px;
}

.my-bottom20 {
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

h2,
h3 {
    color: var(--main-txt-color);
}

p {
    color: var(--sec-txt-color);
}