/************************************
    DEBUG BODY CLASS X LAYOUT
************************************/

.debug .main-logo {
    background-color: blueviolet;
    height: 100px;
    border: 5px solid white;
}

.debug .main-menu {
    background-color: yellow;
    height: 200px;
    border: 5px solid white;
}

.debug .playlist {
    background-color: aqua;
    height: 50px;
    border: 5px solid white;
}

.debug .user {
    background-color: blue;
    height: 100px;
    border: 5px solid white;
}

.debug .small-logo {
    background-color: blueviolet;
    height: 100px;
    border: 5px solid white;
}

.debug .small-menu {
    background-color: yellow;
    height: 200px;
    border: 5px solid white;
}

.debug .user-small {
    background-color: blue;
    height: 50px;
    border: 5px solid white;
}

.debug .topbar {
    background-color: green;
    height: 100px;
    border: 5px solid white;
}

.debug .topbar-menu {
    background-color: orange;
    height: 100px;
    border: 5px solid white;
}

.debug .txt-item {
    background-color: red;
    height: 50px;
    border: 5px solid white;
}

.debug .card {
    background-color: palevioletred;
    height: 200px;
    border: 5px solid white;
}

.debug .player-container > div {
    background-color: limegreen;
    height: 70px;
    border: 5px solid white;
}

.debug .player > div {
    background-color: yellowgreen;
    height: 50%;
    border: 5px solid white;
}