/************************************
    EFFECT
************************************/

.layout,
.item-container {
    scroll-behavior: smooth;
}

.btn-call:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(105%) translate(0, calc(-95% / 2));
}

.fx-btn-sidebar:hover {
    box-shadow: inset 5px 0px 0px 0px var(--fx-color);
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--main-txt-color);
}

.fx-btn-sideitem-spec:hover {
    color: var(--main-txt-color);
}

.fx-btn-sideitem-spec:hover .add-playlist {
    background-color: var(--main-txt-color);
}

.fx-btn-sideitem:hover {
    color: var(--main-txt-color);
}

.fx-btn-sideuser:hover {
    opacity: 0.8;
}

.fx-btn-topbar:hover {
    color: var(--main-txt-color);
}

.fx-btn-topbar-border {
    width: 70%;
    margin: 5px auto 0 auto;
    height: 2px;
    background-color: var(--main-back-color);
}

.fx-btn-topbar:hover .fx-btn-topbar-border {
    background-color: var(--fx-color);
}

.card:hover {
    outline: 2px solid rgba(255, 255, 255, 0.2);
    outline-offset: 5px;
}

.card:hover .img-overlay, 
.card:hover .play-overlay {
    display: block;
}

.player-container .info i:hover {
    color: var(--main-txt-color);
}

.btn-info-song:hover {
    opacity: 0.8;
}

.btn-player:hover {
    transform: scale(120%);
}

.btn-tool:hover {
    color: var(--sec-txt-color);
}

#player-control:hover #player-btn {
    display: block;
}

#player-live {
    animation: song-play 30s linear infinite;
    animation-play-state: paused;
}

@keyframes song-play {
    100% {
        width: 100%;
    }
}

#volume-control:hover #volume-btn {
    display: block;
}

#demo-panel:hover #delete-item {
    transform: rotate(180deg);
}

#delete-call {
    animation: delete 1.5s linear infinite;
}

@keyframes delete {
    50% {
        right: -120px;
        top: 0;
    }
}