/************************************
    MEDIA QUERY 992px 768px 576px
************************************/

@media screen and (max-width: 992px) {
    .card {
        width: calc((100% / 4) - 15px);
    }
    .noshow-tablet992 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc((100% / 2) - 15px);
    }
    .noshow-tablet768 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        display: none;
    }
    .sidebar-small {
        display: block;
    }
    .user-small .download {
        text-align: center;
    }
    .download i {
        margin-right: 0px;
    }
    .profile-icon {
        margin-right: 0px;
    }
    .layout {
        width: calc(100% - 50px);
        overflow-y: scroll;
    }
    .item-container {
        padding-top: 20px;
        overflow-y: initial;
    }
    .topbar {
        position: relative;
        left: 0;
        width: 100%;
    }
    .noshow-mobile {
        display: none;
    }
}