/************************************
    STYLE
************************************/

.container {
    height: calc(100vh - 70px);
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: var(--sec-back-color);
    float: left;
    position: relative;
    padding-bottom: 100px;
}

.main-logo {
    flex-shrink: 0;
}

.playlist-container {
    min-height: 150px;
    overflow-y: scroll;
}

.user {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar-small {
    width: 50px;
    height: 100%;
    background-color: var(--sec-back-color);
    float: left;
    display: none;
    position: relative;
    padding-bottom: 50px;
}

.user-small {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}






/* LAYOUT */

.layout {
    width: calc(100% - 250px);
    height: 100%;
    background-color: var(--main-back-color);
    float: right;
}

.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 999;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.btn-call {
    color: var(--main-txt-color);
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid var(--main-txt-color);
    padding: 10px 40px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
}

.item-container {
    height: 100%;
    overflow-y: scroll;
    padding-top: 100px;
    padding-left: 15px;
}

.topbar-menu {
    text-align: center;
    padding-right: 15px;
}

.topbar-menu ul {
    color: var(--sec-txt-color);
    text-transform: uppercase;
}

.topbar-menu li {
    display: inline-block;
    padding: 5px 10px;
}

.card {
    width: calc((100% / 6) - 15px);
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

.img-container {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
}

.img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-overlay {
    color: var(--main-txt-color);
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 1px 15.5px;
    border: 5px solid var(--main-txt-color);
    border-radius: 50%;
}








/* FOOTER */

footer {
    height: 70px;
    background-color: var(--player-color);
}

.info,
.tool {
    width: 20%;
}

.player {
    width: 50%;
}