/************************************
    STYLE
************************************/

.container {
    height: calc(100vh - 80px);
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: var(--sec-back-color);
    float: left;
    color: var(--sec-txt-color);
    overflow-y: hidden;
}

.main-logo {
    height: 80px;
    position: relative;
    flex-shrink: 0;
}

.main-logo img {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
}

.main-menu img {
    height: 32px;
    float: left;
    margin-right: 5px;
}

.txt-menu {
    float: left;
    display: inline-block;
    line-height: 32px;
}

.main-menu li {
    padding: 5px 15px;
}

.playlist-container {
    height: 100%;
    min-height: 150px;
}

.playlist-container h3 {
    text-transform: uppercase;
    margin-left: 15px;
}

.add-playlist {
    margin-left: 15px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    background-color: var(--sec-txt-color);
    color: var(--sec-back-color);
    margin-right: 10px;
    vertical-align: middle;
}

.txt-playlist {
    display: inline-block;
    vertical-align: middle;
}

.playlist-item {
    height: 100%;
    overflow-y: scroll;
}

.playlist-item li {
    margin: 10px 15px;
}

.user {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--sec-back-color);
}

.download {
    border-bottom: 1px solid var(--sec-txt-color);
}

.download a {
    color: var(--sec-txt-color);
    display: inline-block;
}

.download i {
    margin-right: 10px;
}

.profile-icon {
    display: inline-block;
    background-color: var(--sec-txt-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: middle;
}

.profile-icon img {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.profile-txt {
    display: inline-block;
    vertical-align: middle;
    color: var(--main-txt-color);
    font-weight: bold;
}

/* SIDEBAR SMALL */

.sidebar-small {
    width: 50px;
    height: 100%;
    background-color: var(--sec-back-color);
    float: left;
    display: none;
    position: relative;
    padding-bottom: 50px;
    overflow-y: hidden;
}

.small-logo {
    height: 80px;
    width: 100%;
    position: relative;
}

.small-logo img {
    width: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-menu img {
    height: 32px;
}

.small-menu ul {
    padding-top: 20px;
}

.small-menu li {
    padding: 5px 9px;
}

.user-small {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 9px;
    background-color: var(--sec-back-color);
}

/* LAYOUT */

.layout {
    width: calc(100% - 250px);
    height: 100%;
    background-color: var(--main-back-color);
    float: right;
}

.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 999;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.btn-call {
    color: var(--main-txt-color);
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid var(--main-txt-color);
    padding: 10px 40px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
}

.item-container {
    height: calc(100%);
    overflow-y: scroll;
    padding-top: 100px;
    padding-left: 15px;
}

.topbar-menu {
    text-align: center;
    padding-right: 15px;
}

.topbar-menu ul {
    color: var(--sec-txt-color);
    text-transform: uppercase;
}

.topbar-menu li {
    display: inline-block;
    padding: 5px 10px;
}

.card {
    width: calc((100% / 6) - 15px);
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

.img-container {
    position: relative;
}

.card img {
    width: 100%;
}

.img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-overlay {
    color: var(--main-txt-color);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER */

footer {
    font-size: 14px;
    height: 80px;
    background-color: var(--player-color);
    color: var(--main-txt-color);
}

.info,
.tool {
    width: 24%;
    height: 80px;
    padding: 0 15px;
}

.player {
    width: 48%;
}

.player-container .info img {
    height: 50px;
    margin-right: 15px;
}

.player-container .txt-info {
    margin-right: 30px;
}

.player-container .info i {
    margin-right: 15px;
    color: var(--sec-txt-color);
}

.txt-info > div {
    color: var(--sec-txt-color);
}

.player,
.tool {
    color: var(--main-txt-color);
}

.player-top {
    text-align: center;
    font-size: 18px;
}

.player-top li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.player-top li:nth-child(3) {
    font-size: 26px;
}

#player-control {
    width: 300px;
    height: 4px;
    background-color: var(--sec-txt-color);
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    border-radius: 2px;
}

#player-live {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 25%;
    height: 6px;
    background-color: var(--main-txt-color);
    border-radius: 2px;
}

#player-btn {
    height: 16px;
    width: 16px;
    background-color: greenyellow;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
}

.player-container .tool i {
    margin-left: 15px;
}

#volume-control {
    width: 100px;
    height: 4px;
    background-color: var(--sec-txt-color);
    margin-left: 15px;
    position: relative;
    border-radius: 2px;
}

#volume-live {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 80%;
    height: 6px;
    background-color: var(--main-txt-color);
    border-radius: 2px;
}

#volume-btn {
    height: 16px;
    width: 16px;
    background-color: greenyellow;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
}